numpy
pandas
matplotlib
japanize-matplotlib
seaborn
jupyterlab
scikit-learn
sktime
sktime-dl
pmdarima
jupyter-dash
ipympl
ipywidgets
itkwidgets
jupytext
jupyter-lsp
python-language-server
jupyterlab_latex
autopep8
flake8
pylint
pytest
jupyterlab_code_formatter
xeus-python
toree
bash_kernel
jupyter-c-kernel
sphinx
Pillow
tensorflow
tensorflow-datasets

